@import "../../vars.css";

.margin {
    height: 200px;
}

.screenFiller {
    position: relative;
    top: 0; right: 0; bottom: 0; left: 0;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-bg);
    z-index: 1;
}

.loader {
    width: 10%;
    box-shadow: 5px 15px 0 10px rgba(0,0,0,.4);
    
    --b: 8px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: var(--color-primary);
    filter: drop-shadow(30px 10px 4px #4444dd);
    -webkit-mask:
      repeating-conic-gradient(#0000 0deg,#000 1deg 70deg,#0000 71deg 90deg),
      radial-gradient(farthest-side,#0000 calc(100% - var(--b) - 1px),#000 calc(100% - var(--b)));
    mask-composite: intersect;
    animation: l5 1s infinite;
  }
  @keyframes l5 {to{transform: rotate(.5turn)}}